body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: lightgray;
}

.container {
  display: flex;
  gap: 5em;
}

#tv {
  width: 35.3em;
  height: 25.3em;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: black;
}

#screen {
  width: 35em;
  height: 25em;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: #171414;
}
#pantalla{
  width: 35em;
  height: 25em;
  display: none;
}

#remote {
  background-color: rgb(31, 31, 31);
  height: 21em;
  width: 8.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2em;
}

#power {
  height: 4em;
  width: 8.5em;
  display: flex;
}

#power-button {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#red-circle {
  background-color: rgb(209, 12, 12);
  height: 1.6em;
  width: 1.6em;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#red-circle:active {
  background-color: rgb(139, 16, 16);

  #white-stripe {
  border-color: rgb(139, 16, 16);
  }
}

#white-stripe {
  background-color: white;
  height: 0.8em;
  width: 0.1em;
  position: absolute;
  margin-top: -0.4em;
  border-color: rgb(209, 12, 12);
  border-style: solid;
  border-radius: 1em;
}

#white-circle {
  border-color: white;
  border-style: solid;
  border-width: 0.1em;
  height: 1.1em;
  width: 1.1em;
  border-radius: 1em;
  box-sizing: border-box;
}

#info {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mensaje{
display: flex;
justify-content: end;
align-items: center;
color: white;
margin-left: 1.5em;
font-size: 1.4em;
margin-top: 0.5em;
position: absolute;
}

#info-circle {
  background-color: rgb(41, 41, 41);
  height: 1.6em;
  width: 1.6em;
  border-radius: 1em;
  border-width: 0.2em;
  border-style: solid;
  border-color: rgb(79, 75, 75);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#info-circle:active {
  background-color: rgb(71, 70, 70);
}

#info-icon {
  color: grey;
  font-size: 1em;
  font-weight: bold;
  margin-top: 0.2em;
  margin-left: 0.04em;
}

#vol-channel {
  height: 5em;
  width: 8.5em;
  padding-top: 0.2em;
  display: flex;
}

#volume,#channel {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-up {
  width: 0;
  height: 0;
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
  border-bottom: 1.5em solid rgb(58, 58, 58);
  cursor: pointer;

}

#volume-text,#channel-text {
  color: grey;
  padding-top: 0.1em;
}

.button-down {
  width: 0;
  height: 0;
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
  border-top: 1.5em solid rgb(58, 58, 58);
  cursor: pointer;
}


#channels-numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  text-align: center;
  height: 8.5em;
  width: 7.5em;
}

.button-number {
  background-color: rgb(41, 41, 41);
  height: 1.6em;
  width: 1.6em;
  border-radius: 1em;
  border-width: 0.2em;
  border-style: solid;
  border-color: rgb(79, 75, 75);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: bold;
  color: rgb(165, 162, 162);
  cursor: pointer;
}

.button-number:active {
  background-color: rgb(102, 87, 87);
}