
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: lightgray;
}

.container {
  display: flex;
  gap: 5em;
  padding: 2em;
}

.tv {
  width: 35.3em;
  height: 25.3em;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: black;
}

.screen {
  width: 35em;
  height: 25em;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #ccc;
}

.remote {
  width: 13em;
  background-color: black;
  border: 0.1em solid black;
  border-radius: 1.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.5em;
  padding: 1em;
  height: 22em;
}

.button {
  background-color: #333;
  border: 0.1em solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.power {
  grid-column: 2;
  grid-row: 1;
  background-color: red;
  border: 0.1em solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items:center;
  color: white;
  font-size: 1em;
  cursor: pointer;
}

.info{
    grid-column: 3;
    grid-row: 1;
    background-color: grey;
    border: 0.1em solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    font-size: 1em;
    cursor: pointer;

}

.vol {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.vol::before {
  content: '';
  width: 1em;
  height: 1em;
  border-right: 0.1em solid #fff;
  border-bottom: 0.1em solid #fff;
  transform: rotate(135deg);
  margin-left: 1em;
  margin-top: 0.8em;
  cursor: pointer;
}

.vol::after {
  content: '';
  width: 1em;
  height: 1em;
  border-right: 0.1em solid #fff;
  border-top: 0.1em solid #fff;
  transform: rotate(135deg);
  margin-left: 1em;
  margin-bottom: 0.8em;
  cursor: pointer;
}

.vol::before {
  transform: rotate(225deg);
}

.numbers {
  grid-row: 3-5;
}
